<div class="card">
    <div class="itemInfoPlace">
        <div class="itemImgPlace center">
            <img src="/images/imgs_goods_600/{{ product.id }}.jpg" alt="item image" style="width: 300px;">
        </div>
        <div class="itemInfoItem">
            <div class="itemName">
                <h3>{{ product.name }}</h3>
            </div>
            <div class="itemPrice">
               <h4><i>Цена:  {{ product.price }} руб. </i></h4> 
            </div>
            <div class="buyBtn">
                <button class="buy" id="buyBtnItem" data-itemid={{ product.id }} data-session={{ session }}><b>BUY</b></button>
            </div>
            <h5>Описание товара:</h5> 
            <div class="itemDescription">
                <p>{{ product.s_describ }}</p>
            </div>
        </div>
    </div>
</div>

<script>
    const btn = document.getElementById('buyBtnItem');
    btn.addEventListener('click', function(e){
        const data ={
            operand1: btn.dataset.itemid,
            operand2: btn.dataset.session,
            operation: "addItemToCart"
        };
        (async()=>{
            fetch("/cart/add", {
                  method: 'POST', 
                  headers: new Headers({'Content-Type': 'application/json'}),
                  body: JSON.stringify(data)
                  })
                  .then(responce => responce.json())
                  .then(result =>{
                    if(result.result === "add" && result.operation === "addItemToCart"){
                       alert("Товар добавлен в корзину");
                    }
                    if(result.result === "ok" && result.operation === "addItemToCart"){
                       alert("Этот товар уже в корзине");
                    }
                  })
         })();
    });
</script>
